{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ event.description }}

{%endblock%}
{% block content %}

<p class="text-sm">Welcome, <span class="text-slate-900 dark:text-slate-300">{{ username }}</span>!</p>
<p>
    {% if event.is_live %}
    Voting is <span class="text-slate-900 dark:text-slate-300">live</span>! (ends in {{ event.end_at | naturaltime }})
    {% elif event.has_ended %}
    Voting has <span class="text-slate-900 dark:text-slate-300">ended</span> {{ event.end_at | naturaltime }}!
    {% else %}
    Voting has not started yet, come back later! ({{ event.start_at | naturaltime }})
    {% endif %}
</p>
<p class="my-4 text-xl text-sky-700 dark:text-sky-400">Click on these exciting topics to vote! You can keep editing your choices until the voting is closed.</p>
<ul class="list-disc text-lg">
    {% for item, vote_data in items_votes %}
    <li class="text-sky-500 dark:text-sky-500 my-6"><a href="{{ vote_data.url }}">{{ item.description }}</a>
        <br>
        
        {% if item.detail_link %}
            <a class="text-base text-sky-600" target="_blank" href="{{ item.detail_link }}">🔗 further details</a>
        {% endif %}
            
        <p class="text-sm text-sky-700 dark:text-slate-400">
            {% if vote_data.vote %}
            you have voted <strong class="dark:text-slate-300">{{ vote_data.vote }}</strong>
            {% else %}
            <strong class="dark:text-slate-300">you have not yet voted!</strong>
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock %}