{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ event.description }}

{% endblock %}
{% block content %}
    <form 
        action="logout"
        method="post"
        class="container flex content-end"
        >
        {% csrf_token %}

        <p class="text-sm grow self-center">Welcome, <span class="text-slate-900 dark:text-slate-300">{{ username }}</span>!</p>
        
        <button 
            name="logout" 
            value="logout"
            class="
                py-2 px-4 grow-0 my-4
                bg-blue-500 text-white
                opacity-80
                rounded-lg shadow-md
                hover:bg-blue-700
                focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" 
        >Log out</button>


    </form>




<p>
    {% if event.is_live %}
    Voting is <span class="text-slate-900 dark:text-slate-300">live</span>! (ends in {{ event.end_at | naturaltime }})
    {% elif event.has_ended %}
    Voting has <span class="text-slate-900 dark:text-slate-300">ended</span> {{ event.end_at | naturaltime }}!
    {% else %}
    Voting has not started yet, come back later! ({{ event.start_at | naturaltime }})
    {% endif %}
</p>
<p class="my-4 text-xl text-sky-700 dark:text-sky-400">Click on these exciting topics to vote! You can keep editing your choices until the voting is closed.</p>
<ul class="list-disc text-lg">
    {% for item, vote_data in items_votes %}
    <li class="text-sky-500 dark:text-sky-500 my-6"><a href="{{ vote_data.url }}">{{ item.description }}</a>
        <br>
        
        {% if item.detail_link %}
            <a class="text-base text-sky-600" target="_blank" href="{{ item.detail_link }}">🔗 further details</a>
        {% endif %}
            
        <p class="text-sm text-sky-700 dark:text-slate-400">
            {% if vote_data.vote %}
            you have voted <strong class="dark:text-slate-300">{{ vote_data.vote }}</strong>
            {% else %}
            <strong class="dark:text-slate-300">you have not yet voted!</strong>
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>

<p class="mt-8 text-sm">
    GDPR/DSGVO disclaimer: For purely functional reasons we store your facebook name and email address, both taken from the Lovelies database.
    Your data will not be sent/stored anywhere else. No user tracking is performed. Your voting records will be deleted a month after the event ends.

</p> 

{% endblock %}