{% extends 'base.html' %}
{% block title %}
{{ event.description }}

<p class="text-sm">
    {% if event.is_active %}
    votiing is live! (TODO hms left)
    {% elif event.has_ended %}
    event has ended at TODO
    {% else %}
    event has not started yet, come back later! (starts at TODO, in TODO hms)
    {% endif %}
</p>
{%endblock%}
{% block content %}

<h2 class="text-xl">click on these exciting topics to vote!</h2>
<ul class="list-disc text-lg">
    {% for item, vote_data in items_votes %}
    <li><a href="{{ vote_data.url }}">{{ item.description }}</a>
        <br><p class="text-sm">
            {% if vote_data.vote %}
            you have voted <strong>{{ vote_data.vote }}</strong>
            {% else %}
            you have not yet voted
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock %}