{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ event.description }} - the results!
{% endblock %}

{% block content%}



<div class="px-4 py-8 sm:px-8">

    <div class="my-4">
        <p>All users (= number of members): {{ num_all_users }}</p>
        <p>Number of users who voted on at least item: {{ num_users_with_votes }}
            
            {% if not quorum_reached %}
                <strong> - quorum not reached! </strong>
            {% endif %}
                
        </p>
    </div>
<table class="border-separate border-spacing-2 w-full border border-slate-400 dark:border-slate-500 bg-white dark:bg-slate-800 text-sm shadow-sm">
    <thead class="bg-slate-50 dark:bg-slate-700">
        <tr>
            <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">item</th>
            <th class="w-1/6 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">total votes</th>
            <th class="w-1/6 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">valid votes</th>
            <th class="w-1/6 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">accepted?</th>
            <th class="w-1/4 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">details</th>
        </tr>
    </thead>
    <tbody>
        {% for item in stats %}
            <tr>
                <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">{{ item.description }}</td>
                <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">{{ item.total_votes }}</td>
                <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">{{ item.valid_votes }}</td>
                <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">{{ item.accepted | yesno }}</td>
                <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">{{ item.details }}</td>
            </tr>
        {% endfor %}
    </tbody>
<table>

    <h3 class="my-4 text-xl">
        Names of users who voted/attended
    </h3>
    <ul>

        
        {% if not users_with_votes %}
        No one so far!
        {% endif %}
            
        {% for user in users_with_votes %}
            <li>{{ user.profile.facebook_name }}</li>
        {% endfor %}
            
    </ul>
</div>
{% endblock%}