{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
{% if detail_link %}
    <a class="text-xl text-sky-500 dark:text-sky-500" target="_blank" href="{{ detail_link }}">🔗 further details</a>
{% endif %}

<form class="my-3" method="post">
    {% csrf_token %}
{{ form.as_div }}
<input
    type="submit"
    value="Submit"
    class="py-2 px-4 my-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" />

</form>
{% endblock %}